{% extends "base.html" %}

{% block title %}
	Personal Budget-Request password reset
{% endblock %}

{% block stylesheets %}
	<link href="/css/home.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
{% endblock %}

{% block header %}
	<header class="row ownShadow bg-lightgreen mb-2">
		<h1 class="col-sm-12 my-auto font-weight-bold p-1">Request password reset</i></h1>
	</header>
{% endblock %}

{% block leftaside %}
	<!-- SECTION LEFT ADVERTISEMENT -->
	<aside class="d-none d-sm-block col-sm-3 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-left" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block main %}
	<!-- SECTION MAIN -->
	<section class="col-sm-6 my-auto px-1">
		<h4 class="mt-2"> Insert your email to reset password: </h4>
		<form class="mx-auto ownShadow bg-lightgreen" action="/request-password-reset" method="post">
			<div class="form-group">
				<label>
					<input class="form-control" type="email" name="requestResetEmail" placeholder="E-mail" value="{{ post['requestResetEmail'] }}" required />
				</label>
				{% if reqPassResetErrors['invalidEmail'] is defined %}
					<span class="error">{{ reqPassResetErrors['invalidEmail'] }}</span>
				{% endif %}
			</div>
			<div class="g-recaptcha d-table mx-auto mt-1" data-sitekey="6LcgSBQbAAAAABDmwwpMJ_SaKeJKvB4Eo7chp5Cq"></div>
			{% if reqPassResetErrors['invalidCaptcha'] is defined %}
				<span class="error">{{ reqPassResetErrors['invalidCaptcha'] }}</span>
			{% endif %}
			<!--  6LcgSBQbAAAAABDmwwpMJ_SaKeJKvB4Eo7chp5Cq    CODE TO SERVER RECAPTCHA -->
			<!--  6LcVpuMaAAAAAJjvPFXPsT7YatsGtnO3lAaFzSzx    CODE TO LOCALHOST RECAPTCHA -->
			<button type="submit" class="btn btn-success btn-lg"><i class="icon-cw"></i>Request Reset</button>
		</form>
	</section>
{% endblock %}

{% block rightaside %}
	<!-- SECTIOn RIGHT ADVERTISEMENT-->
	<aside class="d-none d-sm-block col-sm-3 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-right" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block modals %}

<!-- Modal confirms that reset password link was sent-->
	<div class="modal" id="requestPasswordResetSuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Email with link to reset password page was sent. Please check your email and follow instructions. Thank you.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/home">
						<button type="submit" class="btn btn-success mt-0" >Come back to log in page.</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['requestPasswordResetSuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#requestPasswordResetSuccess").modal("show");} );</script>
	{% endif %}	
	
	<!-- Modal inform that user with this email doesn't exist-->
	<div class="modal" id="requestPasswordResetFail">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">User with this email don't exist!!!<h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-success mt-0" data-dismiss="modal" >Make another request.</button>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['requestPasswordResetFail'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#requestPasswordResetSuccess").modal("show");} );</script>
	{% endif %}	
	
{% endblock %}