/* TABLES SETTINGS */
table {
	margin: 1rem auto;
}

.ownBorder {
	border: medium solid mediumseagreen;
	border-radius: 10px;
}

/* PIECHART SETTINGS */
#piechart {
	min-height: 400px;
}

/* ADDITIONAL BOOTSTRAP ALERT SETTINGS */
.alert {
	margin-top: 1rem;
}

/* ASIDE ADDS SETTINGS */
aside img {
	position: sticky;
	top: 110px;
	z-index: -1;
}
