{% extends "base.html" %}

{% block title %}
	Personal Budget-Period balance
{% endblock %}

{% block stylesheets %}
	<link href="/css/balance.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	<!-- SECTION GOOGLE CHART API -->
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
		// Load google charts
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		// Draw the chart and set the chart values
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
		  ['Category', 'Amount[zł]'],
		  {% for expense in balance.expenses %}
			["{{ expense['name'] }}" , {{ expense['sum'] }} ],
		  {% endfor %}
		]);

		  // Optional; add a title and set the width and height of the chart
		  var options = {backgroundColor: 'lightgreen', pieHole: 0.4, responsive: true, width: 'auto', height: 'auto', legend:{alignment: 'center', 
		  textStyle:{fontSize: 14}}};

		  // Display the chart inside the <div> element with id="piechart"
		  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
		  chart.draw(data, options);
		}
	</script>
{% endblock %}

{% block header %}
	<header class="row ownShadow bg-lightgreen sticky-top">
		<h1 class="col-sm-12 my-auto font-weight-bold p-1"><i class="icon-calendar"></i> BALANCE OVERVIEW <i class="icon-calendar"></i></h1>
		<h3 class="col-sm-12 my-auto font-weight-bold p-1">
		{% if balance.begDate is defined and balance.endDate is defined %}
			FROM {{ balance.begDate }} TO {{ balance.endDate }}
		{% endif %}
		</h3>
	</header>
{% endblock %}

{% block leftaside %}
	<!-- SECTION LEFT ADVERTISEMENT -->
	<aside class="d-none d-lg-block col-lg-2 px-0">
		<img src="img/add.png" alt="Advertisement" class="img-responsive float-left" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block main %}
	<!-- SECTION MAIN -->
	<section class="col-md-8">
		<!-- SECTION OF TABLES -->
		<section class="row mt-4 mb-2 ownShadow ownBorder p-1 bg-lightgreen">
			<!-- INCOME TABLE -->
			<div class="col-md-6 p-1">
				<h3 class="font-weight-bold">Incomes</h3>
				{% if balance.incomes is empty %}
					<div class="alert alert-info">You don't have any incomes in this period...</div>
				{% else %}
					<table class="table table-bordered table-striped bg-light">
						<thead class="table-success">
							<tr>
								<th>Category</th>
								<th>Amount[zł]</th>
							</tr>
						</thead>
						<tbody>
						{% set incomesSum = 0 %}
						{% for income in balance.incomes %}
							<tr><th> {{ income['name'] }}  </th><td> {{ income['sum'] }} </td></tr>
							{% set incomesSum = incomesSum + income['sum'] %}
						{% endfor %}
						<tr><th> SUM: </th><td> {{ incomesSum }} </td></tr>
						</tbody>
					</table>
				{% endif %}
			</div>
			<!-- EXPENSE TABLE -->
			<div class="col-md-6 p-1">
				<h3 class="font-weight-bold">Expenses</h3>
				{% if balance.expenses is empty %}
					<div class="alert alert-info">You don't have any expenses in this period...</div>
				{% else %}
					<table class="table table-bordered table-striped bg-light">
						<thead class="table-success">
							<tr>
								<th>Category</th>
								<th>Amount[zł]</th>
							</tr>
						</thead>
						<tbody>
						{% set expensesSum = 0 %}
						{% for expense in balance.expenses %}
							<tr><th> {{ expense['name'] }}  </th><td> {{ expense['sum'] }} </td></tr>
							{% set expensesSum = expensesSum + expense['sum'] %}
						{% endfor %}
						<tr><th> SUM: </th><td> {{ expensesSum }} </td></tr>
						</tbody>
					</table>
				{% endif %}
			</div>
		</section>
		
		<!-- SECTION OF FALLING INTO DEBT WARNING -->
		<section class="row mx-auto">
			{% if incomesSum - expensesSum < 0 %}
				<div class="alert alert-danger mx-auto">
					<span class="error"> BE CAREFUL!!! YOU ARE FALLING INTO DEBT!!!</span>
				</div>
			{% endif %}
		</section>
		
		
		<!-- SECTION OF PIE CHART -->
		<section class="row mt-2 mb-4 p-1">
			<div class="col-md-10 bg-lightgreen ownBorder ownShadow mx-auto p-1">
				<h3 class="font-weight-bold">Expenses Chart</h3>
				{% if balance.expenses is empty %}
					<div class="alert alert-info"> You don't have any expenses in this period.</div>
				{% else %}
					<div id="piechart" class="overflow-hidden"></div>
				{% endif %}
			</div>
		</section>
	
	</section>
{% endblock %}

{% block rightaside %}
	<!-- SECTIOn RIGHT ADVERTISEMENT-->
	<aside class="d-none d-md-block col-md-2 px-0">
		<img src="img/add.png" alt="Advertisement" class="img-responsive float-right" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}
