{% extends "base.html" %}

{% block title %}
	Personal Budget-Settings
{% endblock %}

{% block stylesheets %}
	<link href="/css/settings.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	<script src="/js/settings.js" defer></script>
{% endblock %}

{% block header %}
	<header>
		<div class="row ownShadow bg-lightgreen mb-2">
			<div class="col-sm-1 my-auto font-weight-bold p-1">
				<a href="/usermenu" class="text-dark"><i class="icon-reply-outline"></i></a>
			</div>
			<h1 class="col-sm-10 my-auto font-weight-bold p-1"><i class="icon-cog-outline"></i> Application Settings </h1>
		</div>
	</header>
{% endblock %}

{% block leftaside %}
	<!-- SECTION LEFT ADVERTISEMENT -->
	<aside class="d-none d-lg-block col-lg-2 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-left" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block main %}
	<!-- SECTION MAIN -->
	<section class="col-md-8">
				
		<!-- SECTION OF CHANGING PROFILE DATA -->
		<button id="option0" type="button" class="btn bg-success mt-3 d-flex w-100 justify-content-between align-items-center" data-toggle="collapse" aria-expanded="{% if profileSettingsErrors is defined %} true {% endif %}" data-target="#insertion0">
			<i class="icon-down-big"></i>
			<h3 class="font-weight-bold mb-0 p-3"><i class="icon-user"></i>PROFILE DATA</h3>
			<i class="icon-down-big"></i>
		</button>
		<div id="insertion0" class="collapse formular p-3 ownShadow bg-lightgreen {% if profileSettingsErrors is defined %} show {% endif %}">
			<ul class="list-inline">
			  <li class="list-inline-item">Your current name: <strong>{{ userData.name }}</strong></li>
			  <li class="list-inline-item">Your current email: <strong>{{ userData.email }}</strong></li>
			</ul>
			<form class="mx-auto mb-2" action="/Settings/changeName" method="post" novalidate>
				<label>
					<input type="text" name="newUserName" placeholder="New name" value="{{ post['newUserName'] }}" required/>
				</label>
				<button type="submit" class="btn btn-success ml-2 font-weight-bold"><i class="icon-arrows-cw"></i> Change name </button>
				{% if profileSettingsErrors['invalidName'] is defined %}
					<span class="error">{{ profileSettingsErrors['invalidName'] }}</span>
				{% endif %}
			</form>
			<form class="mx-auto mb-2" action="/Settings/changeEmail" method="post" novalidate>
				<label>
					<input type="email" name="newEmail" placeholder="New e-mail" value="{{ post['newEmail'] }}" required/>
				</label>
				<button type="submit" class="btn btn-success ml-2 font-weight-bold"><i class="icon-arrows-cw"></i> Change email </button>
				{% if profileSettingsErrors['invalidEmail'] is defined %}
					<span class="error">{{ profileSettingsErrors['invalidEmail'] }}</span>
				{% endif %}
			</form>
			<form class="mx-auto mb-2" action="/Settings/changePassword" method="post" novalidate>
				<div>
					<label>
						<input type="password" name="newPassword" placeholder="New password" minlength="8" required />
					</label>
					<label>
						<input type="password" name="newPasswordConfirmation" placeholder="Repeat new password" minlength="8" required />
					</label>
					{% if profileSettingsErrors['invalidPassword'] is defined %}
						<span class="error">{{ profileSettingsErrors['invalidPassword'] }}</span>
					{% endif %}
				</div>
				<button type="submit" class="btn btn-success font-weight-bold"><i class="icon-arrows-cw"></i> Change password </button>
			</form>
		</div>
		
		<!-- SECTION OF MANAGING INCOMES CATEGORY -->
		<button id="option1" type="button" class="btn bg-success mt-3 d-flex w-100 justify-content-between align-items-center" data-toggle="collapse" aria-expanded="{% if incomeSettingsErrors is defined %} true {% endif %}" data-target="#insertion1">
			<i class="icon-down-big"></i>
			<h3 class="font-weight-bold mb-0 p-3"><i class="icon-th-list-outline"></i>INCOMES CATEGORY MANAGER</h3>
			<i class="icon-down-big"></i>
		</button>
		<div id="insertion1" class="collapse formular p-3 ownShadow bg-lightgreen {% if incomeSettingsErrors is defined %} show {% endif %}">
			<div class="my-2">
				<label for="incomeCategoryManager"><i class="icon-list-alt"></i> Choose action: </label> 
				<select id="incomeCategoryManager" class="form-select">
					<option value="none">...</option>
					<option value="add" {% if addIncomeCategoryErrors is defined %} selected {% endif %}>Add new</option>
					<option value="modify" {% if modifyIncomeCategoryErrors is defined %} selected {% endif %}>Modify</option>
					<option value="delete">Delete</option>
				</select>
			</div>
			<form id="addNewIncomeCategory" class="mx-auto" action="/Settings/addIncomeCategory" method="post" 
			style="{% if addIncomeCategoryErrors is defined %} display: block; {% endif %}"novalidate>
				<label>
					<input type="text" name="newName" placeholder="New category name" 
					value="{% if addIncomeCategoryErrors is defined %}{{ post['newName'] }}{% endif %}" required />
				</label>
				<button type="submit" class="btn bg-success my-2 font-weight-bold ml-2"><i class="icon-ok"></i> Add </button>
				{% if addIncomeCategoryErrors['invalidName'] is defined %}
					<span class="error">{{ addIncomeCategoryErrors['invalidName'] }}</span>
				{% endif %}
			</form>
			<form id="modifyIncomeCategory" class="mx-auto" action="/Settings/modifyIncomeCategory" method="post" 
			style="{% if modifyIncomeCategoryErrors is defined %} display: block; {% endif %}"novalidate>
				<div>
					<label for="categoryToModify"><i class="icon-list-alt"></i> Choose category to modify: </label> 
					<select id="categoryToModify" name="categoryToModify">
						{% for category in userData.incomesCategory %}
							<option {% if post['categoryToModify'] == category['name'] %} selected {% endif %}>{{ category['name'] }}</option>
						{% endfor %}
					</select>
				</div>
				<label>
					<input type="text" name="newName" placeholder="New category name" 
					value="{% if modifyIncomeCategoryErrors is defined %}{{ post['newName'] }}{% endif %}" required />
				</label>
				<button type="submit" class="btn bg-success my-2 font-weight-bold ml-2"><i class="icon-ok"></i> Set </button>
				{% if modifyIncomeCategoryErrors['invalidName'] is defined %}
					<span class="error">{{ modifyIncomeCategoryErrors['invalidName'] }}</span>
				{% endif %}
			</form>
			<form id="deleteIncomeCategory" class="mx-auto" action="/Settings/deleteIncomeCategory" method="post" novalidate>
				<div class="alert alert-danger">
					<strong>CAUTION!!!</strong>Deleting income category will cause deleting all incomes in this category as well!!!
				</div>
				<label for="incomeCategoryToDelete"><i class="icon-list-alt"></i> Choose category to delete: </label> 
				<select id="incomeCategoryToDelete" name="categoryToDelete">
					{% for category in userData.incomesCategory %}
						<option>{{ category['name'] }}</option>
					{% endfor %}
				</select>
				<button type="submit" class="btn bg-danger my-2 font-weight-bold ml-2"><i class="icon-cancel"></i> Delete </button>
			</form>
		</div>
		
		<!-- SECTION OF MANAGING EXPENSES CATEGORY -->
		<button id="option2" type="button" class="btn bg-success mt-3 d-flex w-100 justify-content-between align-items-center" data-toggle="collapse" aria-expanded="{% if expenseSettingsErrors is defined %} true {% endif %}" data-target="#insertion2">
			<i class="icon-down-big"></i>
			<h3 class="font-weight-bold mb-0 p-3"><i class="icon-th-list-outline"></i>EXPENSES CATEGORY MANAGER</h3>
			<i class="icon-down-big"></i>
		</button>
		<div id="insertion2" class="collapse formular p-3 ownShadow bg-lightgreen {% if expenseSettingsErrors is defined %} show {% endif %}">
			<div class="my-2">
				<label for="expenseCategoryManager"><i class="icon-list-alt"></i> Choose action: </label> 
				<select id="expenseCategoryManager">
					<option value="none">...</option>
					<option value="add" {% if addExpenseCategoryErrors is defined %} selected {% endif %}>Add new</option>
					<option value="modifyName" {% if modifyExpenseCategoryNameErrors is defined %} selected {% endif %}>Modify name</option>
					<option value="modifyLimit" {% if modifyExpenseCategoryLimitErrors is defined %} selected {% endif %}>Modify limit</option>
					<option value="delete">Delete</option>
				</select>
			</div>
			<form id="addNewExpenseCategory" class="mx-auto" action="/Settings/addExpenseCategory" method="post" 
			style="{% if addExpenseCategoryErrors is defined %} display: block; {% endif %}" novalidate>
				<label>
					<input type="text" name="newName" placeholder="New category name"
					value="{% if addExpenseCategoryErrors is defined %}{{ post['newName'] }}{% endif %}" required />
				</label>
				<label>
					<input type="number" name="newLimit" placeholder="Expense limit" min="0" step="1" 
					value="{% if addExpenseCategoryErrors is defined %}{{ post['newLimit'] }}{% endif %}" />
				</label>
				<button type="submit" class="btn bg-success my-2 font-weight-bold ml-2"><i class="icon-ok"></i> Add </button>
				{% if addExpenseCategoryErrors['invalidName'] is defined %}
					<span class="error">{{ addExpenseCategoryErrors['invalidName'] }}</span>
				{% elseif addExpenseCategoryErrors['invalidAmount'] is defined %}
					<span class="error">{{ addExpenseCategoryErrors['invalidAmount'] }}</span>
				{% endif %}
			</form>
			<form id="modifyExpenseCategoryName" class="mx-auto" action="/Settings/modifyExpenseCategoryName" method="post" 
			style="{% if modifyExpenseCategoryNameErrors is defined %} display: block; {% endif %}" novalidate>
				<div>
					<label for="expenseCategoryNameToModify"><i class="icon-list-alt"></i> Choose category to modify: </label> 
					<select id="expenseCategoryNameToModify" name="categoryToModify">
						{% for category in userData.expensesCategory %}
							<option {% if post['categoryToModify'] == category['name'] %} selected {% endif %}>{{ category['name'] }}</option>
						{% endfor %}
					</select>
				</div>
				<label> 
					<input type="text" name="newName" placeholder="New category name" 
					value="{% if modifyExpenseCategoryNameErrors is defined %}{{ post['newName'] }}{% endif %}" required />
				</label>
				<button type="submit" class="btn bg-success my-2 font-weight-bold ml-2"><i class="icon-ok"></i> Set </button>
				{% if modifyExpenseCategoryNameErrors['invalidName'] is defined %}
					<span class="error">{{ modifyExpenseCategoryNameErrors['invalidName'] }}</span>
				{% endif %}
			</form>
			<form id="modifyExpenseCategoryLimit" class="mx-auto" action="/Settings/modifyExpenseCategoryLimit" method="post" 
			style="{% if modifyExpenseCategoryLimitErrors is defined %} display: block; {% endif %}" novalidate>
				<div class="alert alert-info">
					<strong>Information.</strong> If you would like to reset expense limit please insert 0 or leave field empty.
				</div>
				<div>
					<label for="expenseCategoryLimitToModify"><i class="icon-list-alt"></i> Choose category to modify: </label> 
					<select id="expenseCategoryLimitToModify" name="categoryToModify">
						{% for category in userData.expensesCategory %}
							<option {% if post['categoryToModify'] == category['name'] %} selected {% endif %}>{{ category['name'] }}</option>
						{% endfor %}
					</select>
				</div>
				<label>
					<input type="number" name="newLimit" placeholder="New expense limit" min="0" step="1" 
					value="{% if modifyExpenseCategoryLimitErrors is defined %}{{ post['newLimit'] }}{% endif %}" />
				</label>
				<button type="submit" class="btn bg-success my-2 font-weight-bold ml-2"><i class="icon-ok"></i> Set </button>
				{% if modifyExpenseCategoryLimitErrors['invalidAmount'] is defined %}
					<span class="error">{{ modifyExpenseCategoryLimitErrors['invalidAmount'] }}</span>
				{% endif %}
			</form>
			<form id="deleteExpenseCategory" class="mx-auto" action="/Settings/deleteExpenseCategory" method="post" novalidate>
				<div class="alert alert-danger">
					<strong>CAUTION!!!</strong>Deleting expense category will cause deleting all expenses in this category as well!!!
				</div>
				<label for="expenseCategoryToDelete"><i class="icon-list-alt"></i> Choose category to delete: </label> 
				<select id="expenseCategoryToDelete" name="categoryToDelete">
					{% for category in userData.expensesCategory %}
						<option>{{ category['name'] }}</option>
					{% endfor %}
				</select>
				<button type="submit" class="btn bg-danger my-2 font-weight-bold ml-2"><i class="icon-cancel"></i> Delete </button>
			</form>
		</div>
	
	</section>
{% endblock %}

{% block rightaside %}
	<!-- SECTION RIGHT ADDVERTISEMENT -->
	<aside class="d-none d-md-block col-md-2 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-right" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block modals %}

<!-- Modal confirms that change name was successfull -->
	<div class="modal" id="changeNameSuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Name was changed successfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/settings">
						<button type="submit" class="btn btn-success mt-0" >Come back to settings</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['changeNameSuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#changeNameSuccess").modal("show");} );</script>
	{% endif %}	
	
	<!-- Modal confirms that change password was successfull -->
	<div class="modal" id="changePasswordSuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Password was changed successfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/settings">
						<button type="submit" class="btn btn-success mt-0" >Come back to settings</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['changePasswordSuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#changePasswordSuccess").modal("show");} );</script>
	{% endif %}	
	
	<!-- Modal confirms that change login was successfull -->
	<div class="modal" id="changeLoginSuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Email was changed successfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/settings">
						<button type="submit" class="btn btn-success mt-0" >Come back to settings</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['changeLoginSuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#changeLoginSuccess").modal("show");} );</script>
	{% endif %}	
	
	<!-- Modal confirms that change name was successfull -->
	<div class="modal" id="addCategorySuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center"> New category was added sucessfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/settings">
						<button type="submit" class="btn btn-success mt-0" >Come back to settings</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['addCategorySuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#addCategorySuccess").modal("show");} );</script>
	{% endif %}	
	
	<!-- Modal confirms that change name was successfull -->
	<div class="modal" id="modifyCategorySuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Category was modified successfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/settings">
						<button type="submit" class="btn btn-success mt-0" >Come back to settings</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['modifyCategorySuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#modifyCategorySuccess").modal("show");} );</script>
	{% endif %}	
	
	<!-- Modal confirms that change name was successfull -->
	<div class="modal" id="deleteCategorySuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Category was deleted successfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/settings">
						<button type="submit" class="btn btn-success mt-0" >Come back to settings</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['deleteCategorySuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#deleteCategorySuccess").modal("show");} );</script>
	{% endif %}	
	
{% endblock %}