{% extends "base.html" %}

{% block title %}
	Personal Budget-Link expired...
{% endblock %}

{% block stylesheets %}
	<link href="/css/home.css" rel="stylesheet" />
{% endblock %}

{% block header %}
	<header class="row ownShadow bg-lightgreen mb-2">
		<h1 class="col-sm-12 my-auto font-weight-bold p-1">Expired password reset link...</i></h1>
	</header>
{% endblock %}

{% block leftaside %}
	<!-- SECTION LEFT ADVERTISEMENT -->
	<aside class="d-none d-sm-block col-sm-3 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-left" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block main %}
	<!-- SECTION MAIN -->
	<section class="col-sm-6 my-auto px-1 mx-auto ownShadow bg-lightgreen rounded">
		<h5 class="p-5">
			Unfortunately your password reset link has already expired. Click <a href="/request-password">here</a> to generate new password reset link.
		</h5>
	</section>
{% endblock %}

{% block rightaside %}
	<!-- SECTIOn RIGHT ADVERTISEMENT-->
	<aside class="d-none d-sm-block col-sm-3 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-right" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}


