{% extends "base.html" %}

{% block title %}
	Personal Budget-Password reset
{% endblock %}

{% block stylesheets %}
	<link href="/css/home.css" rel="stylesheet" />
{% endblock %}

{% block header %}
	<header class="row ownShadow bg-lightgreen mb-2">
		<h1 class="col-sm-12 my-auto font-weight-bold p-1">Reset your password</i></h1>
	</header>
{% endblock %}

{% block leftaside %}
	<!-- SECTION LEFT ADVERTISEMENT -->
	<aside class="d-none d-sm-block col-sm-3 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-left" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block main %}
	<!-- SECTION MAIN -->
	<section class="col-sm-6 my-auto px-1">
		<h4 class="mt-2"> Insert your new password: </h4>
		<form class="mx-auto ownShadow bg-lightgreen" action="/reset-password" method="post"novalidate>
			<input type="hidden" name="resetTokenValue" value="{{ passwordResetToken }}"/>
			<div class="form-group">
				<label>
					<input class="form-control" type="password" name="newPassword" placeholder="New password" minlength="8" required />
				</label>
				{% if passResetErrors['invalidPassword'] is defined %}
					<span class="error">{{ passResetErrors['invalidPassword'] }}</span>
				{% endif %}
			</div>
			<div class="form-group">
				<label>
					<input class="form-control" type="password" name="newPasswordConfirmation" placeholder="Repeat password" minlength="8" required />
				</label>
			</div>
			<button type="submit" class="btn btn-success btn-lg"><i class="icon-arrows-cw"></i>Reset Password</button>
		</form>
	</section>
{% endblock %}

{% block rightaside %}
	<!-- SECTIOn RIGHT ADVERTISEMENT-->
	<aside class="d-none d-sm-block col-sm-3 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-right" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block modals %}

<!-- Modal confirms that reset password link was sent-->
	<div class="modal" id="passwordResetSuccess">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Password was changed successfully.</h4>
				 </div>
				<div class="modal-footer justify-content-center">
					<form class="p-0" method="get" action="/home">
						<button type="submit" class="btn btn-success mt-0" >Come back to log in page.</button>
					</form>
				 </div>
			</div>
		</div>
	</div>
	{% if modalController['passwordResetSuccess'] == true %}
		<script>document.addEventListener( "DOMContentLoaded" ,function() {$("#passwordResetSuccess").modal("show");} );</script>
	{% endif %}	
	
{% endblock %}