{% extends "base.html" %}

{% block title %}
	Page not found
{% endblock %}

{% block header %}
	<header class="row ownShadow bg-lightgreen">
		<h1 class="col-sm-12 my-auto font-weight-bold p-1">Page not found</i></h1>
	</header>
{% endblock %}

{% block leftaside %}
	<!-- SECTION LEFT ADVERTISEMENT -->
	<aside class="d-none d-sm-block col-sm-2 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-left" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}

{% block main %}
	<!-- SECTION MAIN -->
	<section class="col-sm-8 my-auto">
		<h1 class="my-5">Sorry, that page doesn't exist.</h1>
	</section>
{% endblock %}

{% block rightaside %}
	<!-- SECTIOn RIGHT ADVERTISEMENT-->
	<aside class="d-none d-sm-block col-sm-2 px-0 my-auto">
		<img src="/img/add.png" alt="Advertisement" class="img-responsive float-right" style="max-width: 100%; height: auto;" />
	</aside>
{% endblock %}


